<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hobbyist is an online community for people to keep track of their hobbies.">
    <meta name="author" content="Jemima">
    <meta property="og:title" content="Hobbyist: A community for people with hobbies">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Hobbyist">
    <meta property="og:url" content="https://www.hobbyist.com">
    <meta property="og:image" content="/static/logo.png">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="#779ECB">
    <meta name="msapplication-navbutton-color" content="#779ECB">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/logo.png">
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <title>Hobbyist | Error</title>
  </head>
  <body>
    <div class="whiteback">

    </div>
    <div class="banner">
      <div class="logo">
          <a href="/" title="Home"><img src="/static/logo.png" alt="Hobbyist Logo"></a>
      </div>
      <div class="menu signin">
        <a href="/signup" onclick="log()">Log In</a>
        <a href="/signup" onclick="sign()">Sign Up</a>
      </div>
    </div>
    <section class="register">
      <div class="image">
      </div>
      <div class="forms">
        <div class="error">{{error}}</div>
        <div class="buttons">
          <button class="signup-button" onclick="sign()">Sign Up</button>
          <button class="login-button" onclick="log()">Log In </button>
        </div>
        <form class="signup">
          <label for="">Full Name:</label>
          <input type="text" name="inputName" id="inputName" autocomplete="name" required><br>
          <label for="inputEmail">Email:</label>
          <input type="email" name="inputEmail" id="inputEmail" autocomplete="email" required><br>
          <label for="inputNumber">Number:</label>
          <input type="tel" name="inputNumber" id="inputNumber" autocomplete="tel" required><br>
          <label for="inputPassword">Password:</label>
          <input type="password" name="inputPassword" id="inputPassword"
          autocomplete="new-password" required><br>
          <label for="hobbies">Hobbies</label>
          <textarea name="hobbies" id="hobbies" placeholder="Enter your hobbies, separated by a comma"></textarea>
          <button type="button" name="button" id="btnSignUp">Register</button>
        </form>
      <form class="login">
        <label for="logEmail">Email:</label>
        <input type="email" name="logEmail" id="logEmail" autocomplete="email" required>
        <label for="logPassword">Password:</label>
        <input type="password" name="logPassword" id="logPassword" autocomplete="current-password" required>
        <button type="button" name="button" id="btnLogIn">Log In</button>
      </form>
    </div>
    </section>
  </body>
</html>
<script type="text/javascript">
  var login = document.getElementsByClassName('login')
  var signup = document.getElementsByClassName('signup');
  var logbutton = document.getElementsByClassName('login-button');
  var signbutton = document.getElementsByClassName('signup-button')
  function sign() {
    signup[0].style.display = "block";
    login[0].style.display = "none";
    signbutton[0].style.backgroundColor = "white";
    signbutton[0].style.color = "#779ECB";
    logbutton[0].style.backgroundColor = "grey";
    logbutton[0].style.color = "white";
  }
  function log() {
    login[0].style.display = "block";
    signup[0].style.display = "none"
    logbutton[0].style.backgroundColor = "white";
    logbutton[0].style.color = "#779ECB";
    signbutton[0].style.backgroundColor = "grey";
    signbutton[0].style.color = "white";
  }
  $(function() {
    $('#btnSignUp').click(function() {

        $.ajax({
            url: '/signup',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
              if (response.redirect){
                window.location.href = response.redirect;
              }
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    $('#btnLogIn').click(function() {

        $.ajax({
            url: '/validateLogin',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
                if (response.redirect){
                  window.location.href = response.redirect;
                }
            },
            error: function(error) {
              if (error.redirect){
                window.location.href = error.redirect;
              }
                console.log(error);
            }
        });
    });
});
</script>
