<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hobbyist is an online community for people to keep track of their hobbies.">
    <meta name="author" content="Jemima">
    <meta property="og:title" content="Hobbyist: A community for people with hobbies">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Hobbyist">
    <meta property="og:url" content="https://www.hobbyist.com">
    <meta property="og:image" content="/static/logo.png">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="#779ECB">
    <meta name="msapplication-navbutton-color" content="#779ECB">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/logo.png">
    <link rel="stylesheet" href="/static/index.css">
    <title>Hobbyist</title>
  </head>
  <body>
    <div class="blackground">

    </div>
    <div class="blackground">
    <div class="backimage"></div>
    <div class="backimage"></div>
    <div class="backimage"></div>
    <div class="backimage"></div>
    <div class="backimage"></div>
    </div>
    <div class="banner">
      <div class="logo">
        <a href="/" title="Home"><img src="/static/logo.png" alt="Hobbyist Logo"></a>
      </div>
      <div class="menu">
        <a href="/signup">Log In</a>
        <a href="/signup">Sign Up</a>
      </div>
    </div>
    <header>
      <div class="text">
        Welcome to <span style=" color:#779ECB">Hobbyist</span>!<br>
        An online community for listing your hobbies and... nope, that's pretty much it.<p>
          <!--<label for="Name">Full Name:</label>
        <input type="text" name="" value="" placeholder="Firstname Lastname">
          <label for="Email">Email:</label><input type="text" name="" value="" placeholder="your@email.here">-->
          <a href="/signup"><button class="button">GET STARTED</button></a>
      </div>
    </header>
  </body>
</html>
